@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Monserrat',sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
   
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
p{
    color: whitesmoke;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
 .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
.section-title span {
    color:olive;
}
 .cta {
    display: inline-block;
    padding: 10px 30px ;
    color:black;
    background-color: transparent;
    border: 2px solid olive;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color ,color;
    border-radius: 5px;

}
 .cta:hover {
    color:black;
    background-color: wheat;

}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: crimson;
}
.brand h1 span{
    color:black
}
/* navigation bar*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}
#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-Color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position:absolute;
    background-color:rgb(226, 201, 155);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active {
    left: 0;
    
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    color:wheat;
    font-size: 11rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50% ,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: olive;
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 10px;


}
#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1s ease infinite;

}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
background-color:white;
z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color:white;
    transition: .3s ease;
    transition-property: top ,bottom;
    
}
#header .hamburger .bar::after{
 top: 8px;
}#header .hamburger .bar::before {
    bottom: 8px;
    }
 #header .hamburger.active .bar::before {
     bottom: 0;
    }
    #header .hamburger.active .bar::after {
        top: 0;
    }


/* End navigation bar*/
/* hero section */
#hero{
background-image: url(./img/bg6.jpeg);
background-size: cover;
background-position: top center;
position: relative;    
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: .7;
    z-index: -1;

}
#hero .hero {
    max-width: 1200px;
    margin-top:0  auto;
    padding: 0 50px;
    justify-self: flex-start;

}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: .3s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;

}
#hero h1:nth-child(2) {
    animation-delay: 2s;
    
}#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
    
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color:wheat;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;

}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
    
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
    
}


/* end hero section */
/* services section */

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    
}
#services .service-top {
    width: 500px;
    max-width: 0 auto;
}
#services .section-title{
    font-size: 6rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
#services .section-title span {
    color:olive;
}
#services .service-top p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services .service-bottom  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
   
   
}
#services .live-events{
    flex-basis: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 0%;
    position: relative;
   
}
#services  .live-events::after{
   content: "";
   position: absolute;
   left: 0;
   top:0;
   height: 100%;
   width: 100%;
  
}
#services .live-events h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .live-events p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services  .Strategy-Concepts {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    
}
#services  .Strategy-Concepts::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   
 
 }
 #services .Strategy-Concepts h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .Strategy-Concepts p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services  .Event-Design {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    
}
#services  .Event-Design::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    
 }
 #services .Event-Design h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .Event-Design p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services  .Culinary-Services {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    
}
#services  .Culinary-Services::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   
 }
 #services .Culinary-Services h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}#services .Culinary-Services p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services  .Music-Services {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    

}
#services  .Music-Services::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   
 
 }
 #services .Music-Services h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
}#services .Music-Services p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
#services  .Drinks-Services {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    border-radius: 2px;
    background-color:rgb(226, 201, 155);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
   
}
#services  .Drinks-Services::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
   
 }
 #services .Drinks-Services h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .Drinks-Services p {
    color:olive;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
 
/* end services section */
/* Gallery section */
#gallery .gallery {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0px;
    
    }
    #gallery .gallery-headers h1 {
        margin-bottom: 50px;
    }
    #gallery .event-gallery{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        
    }

    #gallery .gallery-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 10px;
        
        
    }
    #gallery .gallery-info {
        padding: 30px;
        flex-basis: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-color: wheat;
        color: black;
    }
    #gallery .gallery-info h1{
        font-size: 2rem;
        font-weight: 500;
    }
    #gallery .gallery-info p {
        color: olive;
    }
    #gallery .gallery-img {
        flex-basis: 50%;
        height: 300px;
        overflow: hidden;
}
.gallery .gallery-img img {
    transition: .3s ease transform;
}

#gallery .gallery-item:hover .gallery-img img{
    transform: scale(1.1);
}
    
/* end Gallery section */
/* about section*/
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
}
#about .col-left {
    width: 250px;
    height: 360px;

}
#about .col-right {
    width: 100% ;

}
#about .col-right h2 {
    font-size:  1.5rem; 
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
color: black;
}
#about .col-right p {
    margin-bottom: 20px;
    color: olive;
}
#about .col-right .cta {
    color:black;
    margin-bottom: 50px;
    border-radius: 5px;
}
#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
    
}
#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    z-index: -1;
   

}

/*  end about section*/
/* contact section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
  
}
#contact .contact-items{
    width: 400px;
}
#contact .contact-item { 
    
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact  .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;

}
#contact .contact-info h1 {
font-size: 2.5rem;
font-weight: 500;
margin-bottom: 5px;


}
#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/* end contact section */

/* footer section */
#footer {
    background-color: lightslategray;
    
}
#footer .footer {
    text-align: center;
    min-height: 50%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2 {
    color:black;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
#footer .social-item {
    height: 50px;
    width: 50px;
    margin:0 5px
}
#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img {
    filter: grayscale(0);

}
#footer p {
    color: black;
    text-align: center;
    font-size: 1.3rem;
}
/*  end footer section */

/* keyframes */
@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);


    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }

}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;    
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name {
    100%{
        color:wheat;
    }
}
/* endkeyframes */
/* media query  for tablet */
@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding:20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* hero */
    #hero h1{
        font-size: 7rem;
    }
    /* end hero */
    #services .live-events{
        flex-basis: 100%;
    }
 /* gallery section*/
 

 #gallery .gallery-item{
     flex-direction: row ;
 }
 #gallery .gallery-item:nth-child(even) {
     flex-direction: row-reverse ;
 }
#gallery .gallery-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;

}
#gallery .event-gallery .gallery-info {
    height: 100%;
    
}
#gallery .event-gallery .gallery-img {
    height: 100%;
}
/*  end gallery section*/
/*about*/
#about .about {
    flex-direction: row;
}
#about .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;

}
#about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid wheat;
}
#about .col-right{
    text-align: left;
    padding: 30px;
}
#about .col-right h1 {
    text-align: left;
    
}
/*end about*/
/* contact */
#contact .contact {
 flex-direction: column; 
 padding: 100px 0;
 align-items: center;
 justify-content: center;
 min-height: 20vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;

}
#contact .contact-item {
    margin:20px;
    flex-direction: row;

}
#contact .contact-item .icon {
    height: 100px;
    width: 100px;
    

}
#contact .contact-item .icon img {
    object-fit: contain;

}

/* end contact */
}
/*end  media query  for tablet */
/* media query for desktop */


@media only screen and (min-width:1200px){
    /* header */
    #header .hamburger{
    
        display: none;
    
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    #
    /* end header */
    #services .live-events {
        flex-basis: 100%;

    } 
}
/* End media query for desktop */
